#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.merge-left*
*.merge-right*
*.mine
*.o
*.obj
*.olb
*.old
*.orig
*.prej
*.pyc
*.pyo
*.rej
*.retry
*.working
*.zip
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
.svn
.settings
.settings/*
CVS.adm
RCS
RCSLOG
SCCS
_$*
_svn
svn-commit*.tmp
.project
.conflict
.pydevproject
.idea/
.refactorings/
.vagrant/
.mypy_cache/
build/
venv/
.env
.coverage

**/.pytest_cache/
**/__pycache__/

/wistiapy.egg-info/
/dist/
